.app-header__logo .logo-src {
    height: 40px;
    width: 180px;
    background: url(../assets/images/logo-inverse.svg);
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
  .app-header.header-text-light .app-header__logo .logo-src {
    background: url(../assets/images/logo.svg);
  }
  .app-header.header-text-dark .app-header__logo .logo-src {
    background: url(../assets/images/logo-inverse.svg);
  }
  .app-sidebar.sidebar-text-light .app-header__logo .logo-src {
    background: url(../assets/images/logo.svg);
  }
  .fixed-sidebar.closed-sidebar:not(.fixed-header)
    .app-sidebar
    .app-header__logo
    .logo-src {
    display: none;
  }
  .closed-sidebar:not(.closed-sidebar-mobile)
    .app-header
    .app-header__logo
    .logo-src {
    display: none;
  }
  .closed-sidebar.closed-sidebar-mobile .app-sidebar .app-header__logo .logo-src {
    display: block !important;
    margin: 0 auto;
    width: 21px;
  }
  .closed-sidebar.closed-sidebar-mobile
    .app-sidebar:hover
    .app-header__logo
    .logo-src {
    width: 97px;
    margin: 0;
  }
  .sidebar-mobile-open .app-sidebar .app-header__logo .logo-src {
    width: 97px !important;
    margin-left: auto;
    margin-right: 0;
  }